nav {
  background-color: #222121;
  padding: 10px;

  position: fixed;
  bottom: 0;
  left:0;
  width: auto; 

  z-index:9999;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #4e90c5;
}