.start-menu {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  background-image: url("../assets/startbackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  color: white;
}

.title {
  font-size: 10rem;
  margin: 0;
}

.menu {
  font-size: 2rem;
  text-align: center;
}

.menu button {
  margin: 0.5rem 0;
}

button {
  background: none;
}