/* Full screen background */
.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../assets/startbackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* White card */
.login-box {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: black;
}

/* Input groups */
.input-group {
  text-align: left;
  margin-bottom: 10px;
}

.input-group label {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.input-field {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  margin-top: 5px;
  justify-content: space-between; /* pushes icon to the right */
}

.input-field .icon {
  margin-left: 10px;  /* space on left */
  margin-right: 0;    /* remove old spacing */
}

.input-field input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
}

/* Options row */
.options-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 20px;
  font-size: 14px;
}

.options-row .forgot {
  text-decoration: none;
  color: #2575fc;
}

/* Login button */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #2575fc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}

.login-btn:hover {
  background: #1e63d6;
}

/* Register text */
.register-text {
  font-size: 14px;
}

.register-text a {
  color: #2575fc;
  text-decoration: none;
  font-weight: 600;
}