.module-one-bg {
  min-height: 100vh;
  width: 100%;

  background-image: url("../assets/mod-one.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}


.lesson-panel {
  max-width: 700px;
  width: 100%;

  background: rgba(240, 235, 235, 0.65);
  color: white;

  padding: 1.5rem;
  border-radius: 16px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}

.lesson-panel h2 {
  margin-top: 0;
  color: black;
}

.lesson-panel p {
  line-height: 1.6;
  color: rgb(109, 25, 25);
}